---
layout: base
title: Blog
permalink: index.html
---


{% assign post = site.posts.first %}
<div itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost" id="main-content">
{% include postTitle.ext %}
 <div itemprop="articleBody">
    {{ post.content }}
 </div>
</div>


<div id="post-pagination" class="pagination">
    <span class="previous">
        <a href="/archives.html" class="pure-button"><i class="icon-chevron-sign-left"></i>&nbsp;Voir les archives</a>     
    </span>    
</div>

<!-- {% for post in paginator.posts %}
    <div itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
	{% include postTitle.ext %}
     <div itemprop="articleBody">
        {{ post.content | strip_html | truncatewords:100}}
     </div>
    </div>
    <div class="readmore"><a href="{{ post.url }}">Lire la suite...</a></div>
{% endfor %}

<div id="post-pagination" class="pagination">
    <span class="previous">
        {% if paginator.previous_page and paginator.previous_page != '' %}
            {% if paginator.previous_page == 1 %}
                <a href="/" class="pure-button"><i class="icon-chevron-sign-left"></i>&nbsp;Articles plus récents</a>
            {% else %}
                <a href="/{{ paginator.previous_page_path }}" class="pure-button"><i class="icon-chevron-sign-left"></i>&nbsp;Articles plus récents</a>
            {% endif %}
        {% endif %}
    </span>
    <span class="next">
        {% if paginator.next_page %}
            <a href="/{{ paginator.next_page_path }}"  class="pure-button">Articles plus anciens&nbsp;<i class="icon-chevron-sign-right"></i></a>
        {% endif %}
    </span>
</div> -->
