.background-wrapper {
    text-align: center;
}

#cv-menu {
    margin-top: -5px;
    background: @main-bg;
    width: auto;
    display: inline-block;

    ul {
        background: @green;
        height: inherit;

        li {
            padding-left: 0;
            border: 0;
            a {
                padding: 5px 15px 5px 15px;
            }
            a:hover {
                background: @greenStrong;
                color: @white;
            }
        }
    }
}

.cv-titre {
    text-align: center;
    margin-top: 2em;
}

.cv-titre-chapitre {
    line-height: 1.7em;
    border-top: 3px solid @greenStrong;
    border-bottom: 3px solid @greenStrong;
    margin-top: 3em;
}

.cv-titre-job {
    border-bottom: 3px solid @greenStrong;
    padding: 0;
    padding-left: 15px;
    padding-bottom: 0.55em;
    margin-bottom: 25px;
    line-height: 1.5em;
    text-align: left;
    margin-top: 3em;
}

.cv-detail-job {
    font-size: 80%;
    margin-left: 13px;
    margin-top: -40px;
    display: block;
    background-color: @main-bg;
    float: left;
    padding: 0 0.5em 0 0.5em;
    color: @grey;
}

.cv-description-job {
    margin-bottom: 4em;

    ul {
        margin-left: 1em;
        padding-left: 0;
        margin-top: 5px;

        li {
            list-style: none;
        }

        li:before {
            color: @greenStrong;
            content: "•";
            position: relative;
            left: -7px;
            font-weight: bold;
            margin-left: -7px
        }

        ul {
            margin-top: 0;
            margin-bottom: 0.8em;
            padding-left: 0;
            margin-left: 3em;
        }
    }
    p {
        margin-bottom: 5px;
    }
}

table.first-table caption {
    margin: 0 0 0.5em 0 !important;
}

table.cv-competences {
    border-collapse: separate;
    border-spacing: 0 3px;
    width: 100%;

    caption {
        font-size: 1em;
        font-weight: bold;
        color: #4b4b4b;
        margin: 1.33em 0 0.5em 0;
    }

    th {
        font-weight: normal;
        text-align: left;
        padding: 0.6em;
        width: 20%;

        color: @grey;
        background-color: @greenStrong;

        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius: 5px 0 0 5px;
    }
    td {
        padding: 0.6em;

        color: @grey;
        background-color: @green;

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius: 0 5px 5px 0;
    }
    td.without-th {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius: 5px 0 0 5px;
    }
}