/* FOOTER
------------------------------------------------------------------------*/
#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper {
    margin: 0 auto -3em;
    flex: auto;
}

.footer-push {
    height: 3em;
}

#main .footer {
    height: 3.75em;
    box-sizing: border-box;
    border-top: 3px solid @greenBorder;
    text-align: center;
    font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
    font-variant: small-caps;
    font-size: 80%;
    background: darken(@main-bg, 10%);
}
