/* HEADER
-----------------------------------------------------*/

.header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
	border-bottom: 5px;
	border-color: @greenBorder;
	border-style: solid;
}

.titlecontentblock {
	margin: auto;
	vertical-align: middle;
}

.titleblock {
	padding-top: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
	float: left;
	color: @titlecolor;
	font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
	font-variant: small-caps;
}


#itsignal {
	font-size: 6em;
	line-height: 0.75em;
}

#subtitle {
	font-size: 2.5em;
	line-height: 0.75em;
	clear: left;
}