/* HEADER
-----------------------------------------------------*/

.header {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-bottom: 5px;
    border-color: @greenBorder;
    border-style: solid;
    text-align: center;
}

.titlecontentblock {
    margin: auto;
    vertical-align: middle;
}

.titleblock {
    padding-top: 1em;
    padding-bottom: 1em;
    color: @subtitleColor;
    font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
    font-variant: small-caps;
}

#itsignal {
    font-size: 6.1em;
    line-height: 0.75em;
    color: @titleColor
}

.titledash {
    color: @dashcolor;
}

#subtitle {
    font-size: 2.39em;
    line-height: 0.75em;
    color: @subtitleColor;
}