/* MAIN 
---------------------------------------------------------------------*/
/*

*/
/* LAYOUT STYLES */

body {
    font-size: 14px;
    line-height: 1.5;
    background: @main-bg 0 0 repeat;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #666;
    text-align: justify;
}

#main-content img {
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

.cookie-banner-content {
    background-color: @green;
    text-align: center;
    font-style: italic;
    font-size: small;
}

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    margin-bottom: 30px;
    font-size: 13px;
    line-height : 1.1em;
}

ul, ol, dl {
    margin-bottom: 20px;
}

ul ul {
    margin-bottom: 0;
}

ul li {
    list-style: disc inside;
    padding-left: 20px;
}

ol li {
    list-style: decimal inside;
    padding-left: 3px;
}

/* --------------------------
 * Element Styles
 * --------------------------
*/
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 10px 0;
}

/* --------------------------
 * Layout Styles
 * --------------------------
*/

#layout {
    padding-left: 150px; /* left col width "#menu" */
    left: 0;
}

#main {
    width: 100%;
}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {
    padding: 1.3em;
}

.l-vbox {
    padding: 1.3em 0;
}

.l-hbox {
    padding: 0 1.3em;
}

.l-centered {
    text-align: center;
}

/* --------------------------
 * Content Module Styles
 * --------------------------
*/

/* The content div is placed as a wrapper around all the docs */
.content {
    margin: 0 auto;
    width: 70%;
    margin-bottom: 50px;
    line-height: 1.6em;
    font-size: 1.125em;
}

div.pagination {
    width: 100%;

    padding-top: 3em;
    padding-bottom: 2em;
    
    .previous {
        display: inline-block;
        a {
            background-color: @green;
            color: @grey;
        }
    }
    .next {
        display: inline-block;
        a {
            background-color: @green;
            color: @grey;
        }
    }
}
