/* MENU
--------------------------------------------------- */

#menu {
	position: fixed;
	left: 0;
	width: 10%;
	top: 20%;
	margin: 0 -0.2em 0 0;
	z-index: 5;
	background: @greenContent;
	color: white;
	border: solid @greenBorder;
	border-left: none;
	padding: 0.5em 0.1em 0.5em 0;
	box-shadow: 0 1px 3px black;
	border-radius: 0.25em 2em 2em 0.25em;
	text-align: center;
	font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif;
	font-variant: small-caps;
}

#menu a{
	color: white;
}

.menuList {
	text-align: left;
	list-style-type: none;
	padding: 0 0 15px 0;
	margin: 0px;
}

#menu li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#menu li a{
	color: @CustomBlue;
}

#menu li:before {
	content: "\00BB";
	color: white;
	padding: 0 3px 0 5px;
}

#menu .icon {
	margin: 0 auto;
	width: 80%;
}

.mx {
	color: white;
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
	font-size: 4em;
}

/* TABS */

// header .tabs {
//   font-size: 1.5em;
//   color: @menu-tab;
//   font-weight: normal;
//   line-height: 1em;
//   letter-spacing: 0;
// }

// header .tabs a {
//   color: @menu-tab;
//   padding-left: 15px;
//   padding-right: 15px;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   border-radius: 5px;
//   -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 

//   -moz-box-shadow: 0px 0px 2px #666;
//   -webkit-box-shadow: 0px 0px 2px #666; 
//   box-shadow: 0px 0px 2px #666; 

//   background-color: #E6E6E6;
//   background-image: -webkit-gradient(linear, left top, left bottom, from(#BFBFBF), to(#E6E6E6)); 
//   background-image: -webkit-linear-gradient(top, #BFBFBF, #E6E6E6); 
//   background-image: -moz-linear-gradient(top, #BFBFBF, #E6E6E6); 
//   background-image: -ms-linear-gradient(top, #BFBFBF, #E6E6E6); 
//   background-image: -o-linear-gradient(top, #BFBFBF, #E6E6E6); 
//   background-image: linear-gradient(top, #BFBFBF, #E6E6E6);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#BFBFBF', EndColorStr='#E6E6E6'); 
// }
// header .tabs a.active {

//   -moz-box-shadow: 0px 0px 0px #FFFFFF;
//   -webkit-box-shadow: 0px 0px 0px #FFFFFF; 
//   box-shadow: 0px 0px 0px #FFFFFF; 

//   color: #666;
//   background-color: #FFFFFF;
//   background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#FFFFFF)); 
//   background-image: -webkit-linear-gradient(top, #E6E6E6, #FFFFFF); 
//   background-image: -moz-linear-gradient(top, #E6E6E6, #FFFFFF); 
//   background-image: -ms-linear-gradient(top, #E6E6E6, #FFFFFF); 
//   background-image: -o-linear-gradient(top, #E6E6E6, #FFFFFF); 
//   background-image: linear-gradient(top, #E6E6E6, #FFFFFF);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#E6E6E6', EndColorStr='#FFFFFF'); 
// }