@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);

/* ------------------------------------------------------------------------------
 * LESS VARIABLES
 * --------------------------------------------------------------------------- */

@green: hsla(80, 90%, 40%, 0.5);
@greenStrong : hsla(80, 90%, 40%, 0.7);

@white : #fafafa;
@black: #222;

@main-bg: @white;
@inversed-bg: @black;

/* ------------------------------------------------------------------------------
 * GLOBAL
 * --------------------------------------------------------------------------- */
body {
    font-family: 'Comfortaa';
    background-color: @main-bg;
    color: @black;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    margin-bottom: 0;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

.small {
    font-size: 80%;
}

.title {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    font-variant: small-caps;
    font-size: 600%;
    color: black; //true black
}

.author {
    margin-top: 3em;
}

.nolink a {
    color: @black;
    text-decoration: none;
}



/* ------------------------------------------------------------------------------
 * SLIDES NORMALES
 * --------------------------------------------------------------------------- */

.normal {
    &:extend(body);
}

/* ------------------------------------------------------------------------------
 * SLIDES INVERSES
 * --------------------------------------------------------------------------- */

.inverse {
    background: @inversed-bg;
    color: @white;
}

.inverse h1, .inverse h2 {
    line-height: 0.8em;
}

/* Slide-specific styling */
#slide-inverse .footnote {
    bottom: 12px;
    left: 20px;
}

/* ------------------------------------------------------------------------------
 * QUOTES
 * --------------------------------------------------------------------------- */

blockquote {
    border-left: 5px solid @black;
    margin: 0.5em 10px;
    padding: 0.2em 10px;
    text-align: left;
}
.inverse blockquote{
        border-left: 5px solid @white;
}

blockquote p {
    display: inline;
}
