/* ------------------------------------------------------------------------------
 * LESS VARIABLES
 * --------------------------------------------------------------------------- */
@white: #ffffff;
@green: hsla(80, 90%, 40%, 0.5);
@greenStrong : hsla(80, 90%, 40%, 0.7);
@grey : #444;
@greyLight : #777;
@red : #a33;
@blue : #2879d0;

@main-bg: #fafafa;
@textColor : @grey;

@titleColor : @greenStrong;
@subtitleColor : @grey;
@dashcolor : @grey;
@menu: @grey;
@greenBorder: @green;
@greenContent : @greenStrong;
@menuLinkColor : @blue;
@postTitleColor : @grey;

/* ------------------------------------------------------------------------------
 * GLOBAL
 * --------------------------------------------------------------------------- */

/* Add transition to containers so they can push in and out */
#layout,
#menu,
.pure-menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* ----------------------------------------------------------------------------
 * IMPORTED HEADER
 * ------------------------------------------------------------------------- */
@import "header.less";

/* ----------------------------------------------------------------------------
 * IMPORTED FOOTER
 * ------------------------------------------------------------------------- */
@import "footer.less";

/* ----------------------------------------------------------------------------
 * IMPORTED MENU
 * ------------------------------------------------------------------------- */
@import "menu.less";

/* ----------------------------------------------------------------------------
 * IMPORTED MAIN
 * ------------------------------------------------------------------------- */
@import "main.less";

/* ----------------------------------------------------------------------------
 * IMPORTED CONTACT
 * ------------------------------------------------------------------------- */
@import "contact.less";

/* ----------------------------------------------------------------------------
 * IMPORTED PRESENTATION
 * ------------------------------------------------------------------------- */
@import "presentation.less";

/* ----------------------------------------------------------------------------
 * IMPORTED POSTS
 * ------------------------------------------------------------------------- */
@import "posts.less";
@import "archives.less";

/* ----------------------------------------------------------------------------
 * IMPORTED CV
 * ------------------------------------------------------------------------- */
@import "cv.less";

/* ----------------------------------------------------------------------------
 * IMPORTED RESPONSIVE
 * ------------------------------------------------------------------------- */
@import "responsive.less";
