@import "old.css";
@import "960gs.less";

/* LESS VARIABLES
--------------------------------------------------------------------------------- */
@main-bg: #ffffff;
@titlecolor : #333;
@menu: #333;
@menu-tab: #eee;

/* GLOBAL
--------------------------------------------------------------------------------- */

.page {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	box-shadow: 2px 2px 8px #aaa;
	-webkit-box-shadow: 2px 2px 8px #aaa;
	-moz-box-shadow: 2px 2px 8px #aaa;
}

/* IMPORTS
--------------------------------------------------------------------------------- */
@import "header.less";


