<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset=UTF-8>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">

        <title>{{ site.name }} - {{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css"> -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/pure-min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/grids-responsive-min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/prism.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
        <script type="text/javascript" src="https://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    </head>

    <body>
        <div class="pure-g " id="layout">
            <a href="#menu" id="menuLink" class="pure-menu-link">
                <img src="/images/menu.png" width="24px" height="16px" alt="Menu toggle">
            </a>
            <div id="menu" class="pure-u">
                {% include menu.ext %}
            </div>
            <div id="main" class="pure-u" itemscope itemtype="http://schema.org/Blog">
                <div class="wrapper">
                    {% include header.ext %}
                    <div id="content" class="content">
                        {{ content }}
                    </div>

                    <div class="footer-push"></div>
                </div>
                <div class="footer pure-u1">
                    Le contenu du site et du blog est écrit par <a href="/mwerlen.html" title="Présentation de l'auteur" itemprop="author">Maxime Werlen</a><a href="https://plus.google.com/+MaximeWerlen?rel=author"></a>.<br/>
                    <a rel="license" href="//creativecommons.org/licenses/by-nc-sa/2.0/fr/" itemprop="license">
                        <img alt="Licence Creative Commons"
                             title="Licence Creative Commons BY NC SA"
                             style="border-width:0"
                             src="//i.creativecommons.org/l/by-nc-sa/2.0/fr/80x15.png"
                             width="80px" height="15px"/>
                    </a>
                    - <a href="/mentionslegales.html" title="Mentions légales" itemprop="publishingPrinciples">Mentions légales</a>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>
</html>
