<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.0/pure-min.css">

        <link rel="stylesheet" type="text/less" href="/stylesheets/styles.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/prism.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">

        <script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script>

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
        <link rel="shortcut icon" type="image/png" href="favicon.png" />

        <title>{{ site.name }} - {{ page.title }}</title>
    </head>

    <body>
        <div class="pure-g-r " id="layout">
            <a href="#menu" id="menuLink" class="pure-menu-link">
                <img src="/images/menu.png" width="20" alt="Menu toggle">
            </a>
            <div id="menu" class="pure-u">
                {% include menu.ext %}
            </div>
            <div id="main" class="pure-u">
                <div class="wrapper">
                    {% include header.ext %}
                    <div id="content" class="content">
                        {{ content }}
                    </div>

                    <div class="footer-push"></div>
                </div>
                <div class="footer pure-u1">
                    Le contenu du site et du blog est écrit par <a href="/mwerlen.html">Maxime Werlen</a>.<br/>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.0/fr/">
                        <img alt="Licence Creative Commons"
                             style="border-width:0"
                             src="http://i.creativecommons.org/l/by-nc-sa/2.0/fr/80x15.png"/>
                    </a>
                    - <a href="/mentionslegales.html" title="Mentions légales">Mentions légales</a>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/prism.js"></script>
</html>