---
layout: base
blog: active
---

{% if post %}
 {% assign thePost = post %}
{% else %} 
 {% assign thePost = page %}
{% endif %}


<div id="main-content">
  {% include postTitle.ext %}
  {% if thePost.categories contains 'archives' %}
    {% include archive.ext %}
  {% endif %}
  {{ content }}
</div>

<div id="related">
  <h3>Les articles sur le même sujet :</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>